
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* about ronak */
.space {
  height: 30rem;

  text-align: center;

  font-family: Sofia;
}
.space img {
  width: 10rem;

  height: 10rem;

  border-radius: 50%;

  margin: 40px;
}

/* footer start */

footer {
  background-color: #3a3a3a;
  text-align: center;
  position: fixed;
  bottom:0;
  width:100%;

}

/* social media icons */

.sm-handle {
  display: flex;

  padding-top: 2rem;

  justify-content: center;
}

.sm-button {
  margin: 0px 10px 0px;

  border: 1px solid #bababa;

  border-radius: 100%;

  width: 2rem;

  height: 2rem;

  display: flex;

  align-items: center;

  justify-content: center;

  cursor: pointer;
}

.sm-button:hover {
  background: linear-gradient(to right, #6500ff, #a400ff);
}

.fab {
  color: #fff;

  font-size: 16px;
}

/* footer all links*/

.footer-links {
  display: grid;

  grid-template-columns: 1fr 1fr;

  color: white;

  letter-spacing: 1.5px;

  word-spacing: 2px;
}

.menu-title {
  margin-bottom: 10px;
}

.menu {
  margin-bottom: 20px;

  margin-top: 10px;
}

.menu-links,
.other-links {
  display: block;

  font-family: Roboto;

  color: #d5d5d5;

  cursor: pointer;
}

.menu-links:hover {
  color: #6500ff;
}

.other-links:hover {
  color: #6500ff;
}

/* copyright area */

.copyright {
  font-size: 10px;

  color: white;

  letter-spacing: 1.5px;

  word-spacing: 2px;
}

.copyright a {
  color: #fff;

  font-size: 12px;

  cursor: pointer;
}

/* screen change */

@media (max-width: 700px) {
  .footer-links {
    grid-template-columns: 1fr;
  }
}
