table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
}
th {
  text-align: center;
}

table {
  width: 80%;
  margin: 10px;
}



td > div {
  padding-bottom: 10px;
}

#myAnswersTop {
  height: 849px;
  overflow-x: hidden;
  overflow-y: scroll;
}
