#postForm {
  margin: 20px;
  /* display: flex; */
  /* justify-content: center; */
}

td {
  text-align: center;
}

#secondTable {
  width: 98%;
  margin: 15px;
}

#secondD {
  cursor: pointer;
}

.editable2 {
  position: absolute;
  display: flex;
  align-items: center;
  border: none;
  flex-direction: column;
  overflow: scroll;
  top: 200px;
  left: 400px;
  right: 400px;
  border-radius: 20px;
  bottom: 100px;
  background-color: rgb(151, 172, 229);
}

.findingFriends {
  background-color: #5B5192; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
