#login__background {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  /* background-color: #5B5192; */
  left: 0;
  background-color: #c7c8ca;
  background-size: cover;
  display: flex;
  align-items: center;
}

#headText {
  width: calc(100% - 480px);
  display: flex;
  font-size: 50px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  text-align: center;
  background-repeat: no-repeat;
  height: 100%;
}

#login__container {
  width: 480px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 0;
  background-color: #1d2e50;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  padding: 32px;
  box-sizing: border-box;
}

#login__title {
  color: white;
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
}

#login__title--subtitle {
  color: #a5a7ab;
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
}

form input,
label {
  display: block;
}

#login__form label {
  font-size: 12px;
  color: #a5a7ab;
  font-weight: bold;
  margin-bottom: 4px;
}

#login__form input {
  width: 382px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #222428;
  background-color: #303339;
  outline: white;
  caret-color: white;
  color: #c7c8ca;
  font-size: 16px;
  padding-left: 10px;
  transition: border 0.2s;
}

#login__form input:hover {
  border: 1px solid black;
}

#login__form input:focus {
  border: 1px solid #00b0f4;
}

#password--margin {
  margin-top: 12px;
}

#login__form > #button1 {
  display: block;
  width: 395px;
  height: 40px;
  margin: 0;
  border-radius: 3px;
  background-color: #7289da;
  color: white;
  transition: background-color 0.17s;
  transition-timing-function: ease;
  border-style: none;
  margin-top: 16px;
}
#login__form #button2 {
  display: inline;
  width: 150px;
  height: 40px;
  margin: 22px;
  border-radius: 3px;
  background-color: #7289da;
  color: white;
  transition: background-color 0.17s;
  transition-timing-function: ease;
  border-style: none;
  margin-top: 15px;
}

#login__form button:hover {
  background-color: #5c6fb1;
}

#register__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  padding-top: 10px;
  color: #60646b;
}

#register__link p {
  color: #6c7076;
}

#register__link a {
  text-decoration: none;
  color: #02aced;
  margin-left: 5px;
}

/*Login Btn and Demo User Btn */
#button1 {
  cursor: pointer;
}

#button2 {
  cursor: pointer;
  /* width: 50px; */
}

#creator {
  font-size: 25px;
  position: fixed;
  bottom: 0;
  margin: 20px;
  display: flex;
  align-items: center;
}

#postsits {
  background-color: yellow;
  width: 350px;
  height: 350px;
  border: 3px solid;
  padding:20px;
  font-weight: bold;
  transform: rotate(-5deg);
  margin: 30px;
  box-shadow: 0 2px 10px 0;
}


#postsits2 {
  background-color: yellow;
  width: 350px;
  height: 350px;
  border: 3px solid;
  padding:30px;
  font-weight: bold;
  margin: 30px;
  box-shadow: 0 2px 10px 0;
}

#postsits:hover,
#postsits2:hover,
#postsits3:hover {
  transform: scale(1.1);
}
#postsits3 {
  background-color: yellow;
  width: 350px;
  height: 350px;
  border: 3px solid;
  padding:30px;
  font-weight: bold;
  margin: 30px;
  transform: rotate(5deg);
  box-shadow: 0 2px 10px 0;
}


#logosFront {
  margin: 0px 5px 0px;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

#links {
  font-size: 30px;
}

#logosFront:hover {
  /* background: linear-gradient(to right, #6500ff, #a400ff); */
  color: black;
}
