#root {
    display: flex;
}

main {
    margin-top: 140px;

}

.First_nav {
    background-color: #5B5192;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Second_nav {
    position: fixed;
    width: 197vh;
    height: 125px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid gray;

}

nav > div {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 50px;
    text-align: center;
}

.tags {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/*probably won't edit it yet */
/* #logout_button {
    width: 100px;
    height: 30px;
} */
#AddButton {
    padding: 30px;
    font-size: 60px;
    color: white;
    font-weight:900;
}
