#root {
  display: flex;
  overflow: hidden;
}

main {
  margin-top: 120px;
  width: 100%;
}

.logOut {
  border-bottom: none;
}


.First_nav {
  background-color: #5b5192;
  position:sticky;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Second_nav {
  position: fixed;
  width: 197vh;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
}

nav > div {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 50px;
  text-align: center;
}

.tags {
  color: white;
  /* padding: 30px;
  padding-left: 70px;
  padding-right: 70px; */
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
}

.First_nav > div:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
/*probably won't edit it yet */
/* #logout_button {
    width: 100px;
    height: 30px;
} */
#addButton {
  font-size: 60px;
  color: white;
  font-weight: 900;
  height: 80px;
  cursor: pointer;
}
#AddContainer {
  padding: 25px;
}


.editable {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  flex-direction: column;
  top: 200px;
  left: 400px;
  right: 400px;
  border-radius: 20px;
  bottom: 100px;
  background-color: rgb(151, 172, 229);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
}
